body{
    background: #ffffff; /* Меняется фон экрана, выбирается здесь */
}

#wrapper{ /* Оболочка страницы сайта */
    width: 990px; /* Меняется ширина страницы */
    height: 100%;
    margin: 100px auto;
    background: #eae3cc; /* Меняется задний фон страницы */
}

/* Шапка сайта */

#header {
    position: relative; /* Задаём блоку относительное позиционирование для того, чтобы затем размещать, в нём другие элементы и позиционировать относительно его границ поверх фоновой картинки и заголовка */
    height: 250px; /* Высота шапки */
    margin-bottom: 5px; /* Нижний отступ шапки от остального контента */
    border-radius: 5px; /* Закругляются углы блока */
    box-shadow: rgba(95, 106, 130, 0.4) 0 5px 5px 6px; /* Тень. Визуально приподнимает блок над оболочкой */
}
img{ /* Фоновая картинка в шапке */
    margin: -40px;
} /* Размещаем картинку в блоке header. 1-я и 3-я цифры - двигаем вверх-вниз, 2-я и 4-я цифры - двигаем вправо-влево */

.logo1 { /* Заголовок сайта */
    margin: 0 0 10px 120px; /* Заголовок двигается верх-вправо-вниз-влево. */
    color: red; /* Цвет заголовка */
    font-size: 30px;
    position: inherit;
}

.nomer { /*Подзаголовок (номер телефона)*/
    position: absolute; /* Позиционируем абсолютно подзаголовок, относительно границ блока header. Также можно разместить в шапке сайта ещё другие картинки и абзацы поверх фоновой картинки и заголовка */
    top: -25px; /* Двигается вверх-вниз */
    left: 470px; /* Двигается вправо-влево */
    font-size: 28px; /* Размер букв подзаголовка */
    font-style: italic; /* Курсив */
    font-weight: bold; /* Жирный */
    color: black; /* Цвет букв подзаголовка */
}
.info {
    margin-top: 60px;
}

.logo {
    height: 242px;
    width: 979px;
    margin-left: 5px;
}

.page {
    float: right;
    border: 3px;
    margin-right: 5px;
    margin-top: 45px;
    height: 226px;
    width: 340px;
}

.center {
    margin-top: 20px;
    text-align: center;
    color: gray;
}

/* Сайдбар (колонка справа) */

.sidebar { /* Блок сайдбара */
    text-align: center;
    background-color: #e2caf5; /* Фон блока */
    width: 271px; /* Ширина блока */
    padding: 10px; /* Отступ текста от краёв */
    float: right; /* Размещаем блок справа от других элементов, наплывание или обтекание справа). Если делать сайдбар слева, то значение right меняем на left */
    border-radius: 5px; /* Закругляем углы блока */
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px; /* Задаём блоку тень */
    height: 716px;
    /* Ширина статьи */

}
.offer {
    text-align: center;
}

.marcer { /* Галочки маркеры меню */
    float: none;
    margin: 5px 3px 0 0; /* Двигаются вверх-вправо-вниз-влево */
}

/* Контент (статья) */

.content { /* Блок контента */
    margin-bottom: 5px; /* Отступ блока статьи от блока подвала */
    width: 676px;
    padding: 10px; /* Отступ текста от краёв блока */
    background: #ffffff; /* Фон статьи */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
}

.content p {

    padding-top: 16px;

}

/* Подвал */

#footer { /* Блок подвала */
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    height: 85px; /* Высота блока подвала */
    background-color: #d0d8f1; /* Фон блока подвала */
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 5px; /* Закруглённые углы */
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px; /* Тень блока */
}

.clear { /* Запрет наплывания. Устанавливается для того, чтобы блок контента, при заполнении текстом и изображениями не наплывал на подвал */
    clear: both;
}

.fon { /* Номер телефона */
    text-align: center;
    font-size: 18px;
    float: left; /* Разрешаем другим элементам обтекать абзац справа */
    margin: 20px 0 0 20px;
}

.fax { /* Номер факса */
    font-size: 14px;
    text-align: center;
    color: grey;
    float: left;
    margin: 28px 0 0 35px;
}

.mail { /* Адрес E-mail */
    font-size: 14px;
    text-align: center;
    color: grey;
    float: left;
    margin: 28px 0 0 45px;
}

.park {
    padding-bottom: 20px;
    text-align: center;
    padding-top: 45px;
    color: #7e7ecd;
}

.pay {
    margin-top: 50px;
    text-align: center;
}

.wrap {
    margin-left: 67px;
    -webkit-perspective: 500px;
    -ms-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 70% 70%;
    float: left;
    margin-right: 100px;
    color: #7e76b4;
}

.cube {
    position: relative;
    margin: 20px;
    width: 70px;
    height: 70px;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.face {
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    width: 70px;
    height: 70px;
    padding: 5px 3px;
    color: #1F0405;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 1px;
    box-shadow: inset 0 0 0 2px #705E5F;
}

.front {
    padding-top: 20px;
    -webkit-transform: translateZ(38px);
    -ms-transform: translateZ(38px);
    transform: translateZ(38px);
    background: #fff;
}

.back {
    padding-top: 20px;
    -webkit-transform: translateZ(-38px) rotateY(-180deg);
    -ms-transform: translateZ(-38px) rotateY(-180deg);
    transform: translateZ(-38px) rotateY(-180deg);
    background: #fff;
}

.left {
    margin-top: 15px;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 12px;
    -webkit-transform: translateX(-38px) rotateY(-90deg);
    -ms-transform: translateX(-38px) rotateY(-90deg);
    transform: translateX(-38px) rotateY(-90deg);
    background: #fff;
}

.rght {
    padding-top: 20px;
    -webkit-transform: translateX(38px) rotateY(90deg);
    -ms-transform: translateX(38px) rotateY(90deg);
    transform: translateX(38px) rotateY(90deg);
    background: #fff;
}

.rotate-y {
    -webkit-animation: spinY 10s infinite linear;
    -ms-animation: spinY 10s infinite linear;
    animation: spinY 10s infinite linear;
}

@-webkit-keyframes spinY {
    from {
        -webkit-transform: rotateY(0);
        -ms-transform: rotateY(0);
        transform: rotateY(0);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spinY {
    from {
        -webkit-transform: rotateY(0);
        -ms-transform: rotateY(0);
        transform: rotateY(0);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

/* Блок слайдера */
#slaid {
    /* Задаём относительное позиционирование */
    position: relative;
    /*Размер и рамка блока*/
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin-left: 172px;
}

/* Групповой селектор для 5-и картинок */
.image1,
.image2,
.image3,
.image4,
.image5 {
    /* Позиционируем абсолютно относительно блока */
    position: absolute;
    top: 40px;
    /* Делаем их полностью прозрачными */
    opacity: 1%;
    width: 400px;
    height: 200px;
}
/* Подключаем анимацию к первой картинке */
.image1{
    animation: one-image 5s 1s ease alternate;
}
/* Анимация последующих картинок выполняется с задержкой начала необходимой для прокрутки предыдущих изображений */
.image2 {
    animation: two-image 6s 4s ease alternate;
}
.image3 {
    animation: three-image 6s 9s ease alternate;
}
.image4 {
    animation: four-image 6s 13s ease alternate;
}
.image5 {
    animation: five-image 4s 17s ease alternate;
}

/* Последняя картинка не прозрачная остаётся видной после прокрутки */
.image0 {
    position: absolute;
    top: 40px;
    width: 400px;
    height: 200px;
    animation: eight-image 26s ease alternate;
}
/* Анимации для первой картинки */
@keyframes one-image{
    /* Задаём изменение прозрачности. Здесь можно добавить вращение, перемещение из-за границ блока или появление из центра (масштабирование) */
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Анимация для следующих 6-и картинок */
@keyframes two-image{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes three-image{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes four-image{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Анимация для пятой картинки */
@keyframes five-image {
    /* остаётся прозрачной пока не прокрутятся предыдущие */
    0% {
        opacity: 0;
    }
    87% {
        opacity: 1;
    }
    /*Становиться видимой в конце работы слайдера */
    100% {
        opacity: 1;
    }


}
.button {
    border-radius: 50px;
    margin-top: 15px;
}
input[type="button"]:focus {
    outline: none;
}


