.row,.col,.col-6 {
    border: 1px solid black;
}

.logo1 { /* Заголовок сайта */
    margin: 0 0 0 0; /* Заголовок двигается верх-вправо-вниз-влево. */
    color: red; /* Цвет заголовка */
    font-size: 30px;
    text-align: center;
}

.col {
    text-align: center;
}

img {
    margin: 0 0 0 5px;
}

.telo {
    margin-right: 30px;
    font-size: 20px;
}

.font {
    padding-top: 35px;
    color: darkblue;
    font-size: 20px;
}
.chek:hover {
   text-decoration: none;
    color: darkblue;
}




#footer { /* Блок подвала */
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    height: 85px; /* Высота блока подвала */
    background-color: #d0d8f1; /* Фон блока подвала */
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 5px; /* Закруглённые углы */
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px; /* Тень блока */
}

.clear { /* Запрет наплывания. Устанавливается для того, чтобы блок контента, при заполнении текстом и изображениями не наплывал на подвал */
    clear: both;
}

.fon { /* Номер телефона */
    text-align: center;
    font-size: 18px;
    float: left; /* Разрешаем другим элементам обтекать абзац справа */
    margin: 20px 0 0 20px;
}

.fax { /* Номер факса */
    font-size: 14px;
    text-align: center;
    color: grey;
    float: left;
    margin: 28px 0 0 35px;
}

.mail { /* Адрес E-mail */
    font-size: 14px;
    text-align: center;
    color: grey;
    float: left;
    margin: 28px 0 0 45px;
}


footer {
    text-align: center;
    padding: 100px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(10, 33, 237, 1)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(10, 33, 237, 1));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 1), rgba(10, 33, 237, 1));
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(10, 33, 237, 1));
    color: #81E0FD;
}

footer p {
    font-size: 90%;
}

#footer-social-links {
    list-style: none;
    margin-left: 30px;
    margin-bottom: 20px;
}

#footer-social-links li {
    display: inline-block;
    margin-right: 30px;
    font-size: 0.8em;
}

#footer-nav {
    margin-bottom: 20px;
}

#footer-nav ul {
    list-style: none;
}

#footer-nav li a:link,
#footer-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #81E0FD;
    opacity: 0.5;
    font-size: 70%;
}

#footer-nav li a:hover,
#footer-nav li a:active {
    opacity: 1;
}

#footer-social-links li a:link,
#footer-social-links li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #81E0FD;
    opacity: 0.5;
    font-size: 150%;
}

#footer-social-links li a:hover,
#footer-social-links li a:active {
    opacity: 1;
}




@media only screen and (max-width: 970px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .button-order {
        margin-bottom: 20px;
    }

    #contact-form {
        width: 80%;
        margin: 0 auto;
    }

    .mobile-nav-icon {
        display: inline-block;
    }

    #main-nav {
        float: right;
        margin-top: 40px;
        display: none;
    }

    #main-nav li {
        display: block;
        padding: 10px 0;
    }

    #main-nav li a:link,
    #main-nav li a:visited {
        display: block;
    }

    #sticky-nav #main-nav li a:hover,
    #sticky-nav #main-nav li a:active {
        border-bottom: 0;
    }

}